# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\poblo\.[INGÉNIEUR CIVIL MA1 Info Gestion]\QUADRIMESTRE 1\Expertises digitale et logicielle\Travaux pratiques\TP2\IC_PHP_PROF_COURS\IC_PHP_PROF_COURS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
